<section class="plan">
	<div class="container_main plan__container">
		<div class="plan__content">
			<div class="plan__row plan__row-first">
				<h3 class="title plan__title-h3">План продаж</h3>
				<button class="btn-reset plan__settings">
					<img src="./img/gear.svg" class="image plan__gear" width="32" height="32" alt="Шестеренка" />
				</button>
			</div>
			<div class="plan__row plan__row-second">
				<h4 class="title plan__title-h4">
					Общая цель <span class="plan__text-dash">&ndash;</span> <span class="plan__text-value"> </span>
					<span class="plan__text-currency">руб.</span>
				</h4>
				<div class="plan__column">
					<h4 class="title plan__title-h4">План на период <span class="plan__text-dash">&ndash;</span></h4>
					<span class="plan__text-period">III квартал <span class="plan__text-period-year"></span></span>
				</div>
			</div>
			<div class="plan__graphs"></div>
		</div>
	</div>
</section>
